.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ), 
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}

.registerTitle {
    font-size: 50px;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm label {
    margin: 10px 0;
}

.registerForm input {
    padding: 10px;
    background-color: #fff;
    border: none;
}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: teal;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
}

.registerLoginButton a {
    position: absolute;
    top: 60px;
    right: 20px;
    border: none;
    background-color: lightcoral;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.error {
    color: red;
    margin-top: 10px;
}